<div>
    
    <input type="text" ng-model="lieuxController.latitude"></div>
    <input type="text" ng-model="lieuxController.longitude"></div>
    <button ng-click="lieuxController.getLieux()">rechercher</button>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="lieu in lieuxController.lieux track by lieu.codeLieu ">
            <a ui-sref="attentes({codeLieu: lieu.codeLieu})">
                <h4 class="list-group-item-heading"> {{lieu.libelle}}</h4>
                <p class="list-group-item-text">
                    <span ng-repeat="ligne in lieu.ligne track by ligne.numLigne ">{{ligne.numLigne}} </span>
                </p>
            </a>
        </li>
    </ul>
</div>